<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KittyWar</title>

    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'normalize.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'responsive.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var token  = "{{ token }}";

        var available_cats      = [];
        var available_abilities = [];
        var chance_cards        = [];

        // setup available cats
        {% for cat in user_cats %}
        available_cats.push({
            id: {{cat.cat_id}},
            title: "{{cat.title}}",
            description: "{{cat.description}}",
            health: {{cat.health}},
            default: {{cat.default}},
            ability_id: {{cat.ability_id}}
        });
        {% endfor %}

        // setup available abilities
        {% for ability in ability_cards %}
        available_abilities.push({
            id: {{ability.ability_id}},
            title: "{{ability.title}}",
            description: "{{ability.description}}",
            phase: {{ability.phase}},
            cooldown: {{ability.cooldown}}
        });
        {% endfor %}

        // setup available chance cards
        {% for chance in chance_cards %}
        chance_cards.push({
            id: {{chance.chance_id}},
            title: "{{chance.title}}",
            type: "{{chance.type}}",
            description: "{{chance.description}}",
            basic_id: {{chance.basic_id}}
        });
        {% endfor %}
    </script>
</head>

<body>
    <div class="clearfix">
        <header>
            <div id="index-title">
            <h1>Find Match</h1>
            <a href="{% url 'kittywar:logout' %}"><b>Log out</b></a>
            </div>
            <nav>
            <!--unordered list-->
            <ul>
                <li><a href="{% url 'kittywar:home' %}" >Cats</a></li>
                <li><a href="{% url 'kittywar:chance' %}">Chance Cards</a></li>
                <li><a href="{% url 'kittywar:play' %} ">Find Match</a></li>
            </ul>
            </nav>
        </header>
    </div>

    <textarea readonly
            rows="25" cols="50" id="server-log">
            Server messages logged below
    </textarea>

    <div id="find-match-view" class="view">
        <p id="find-match-status">Not finding match</p>
        <button class="button" id="find-match-button">Find Match</button>
    </div>

    <div id="select-cat-view" class="view">
        <p id="select-cat-status">Select a cat!</p>

        {% for cat in user_cats %}
            <div onclick="select_cat({{cat.cat_id}})">
                <img src="{% static "" %}cat/{{cat.title}}.jpg" height="250" width="200"/>
                <p>{{cat.title}}</p>
                <p>Initial HP: {{cat.health}}</p>
            </div>
        {% endfor %}

        <button class="button" id="select-cat-confirm-button">Confirm</button>
    </div>

    <div id="opponent-view" class="view">
        <span><img id="opponent-view-cat-image" src="{% static "cat/Abyssinian Cat.jpg" %}" alt="" height="160" width="120"></span>  <!-- opponent cat image -->
        <span><img id="opponent-view-cat-ability"src="{% static "ability/Attacker 509.jpg" %}" alt="" height="150" width="110"></span>  <!-- opponent cat ability image -->
        <p id="opponent-view-cat-name">Abyssinian Cat</p>  <!-- opponent cat name -->
        <p id="opponent-view-cat-health">Health: 10</p>  <!-- opponent cat health -->
    </div>

    <div id="arena-view">
        <p id="opponent-selected-move">Opponent selected move:</p>
        <p id="oppoent-selected-chance">Opponent selected chance:</p>
        <p id="player-used-ability">Player used ability:</p>
        <p id="player-selected-move">Player selected move:</p>
        <p id="player-selected-chance">Player selected chance:</p>
        <p id="game-phase">Before Game</p>
    </div>

    <div id="player-view" class="view">
        <span><img id="player-view-cat-image" src="{% static "cat/Abyssinian Cat.jpg" %}" alt="" height="160" width="120"></span>  <!-- opponent cat image -->

        <span onlick="use_ability(0)"><img id="player-view-cat-ability"src="{% static "ability/Attacker 509.jpg" %}" alt="" height="150" width="110"></span>  <!-- opponent cat ability image -->
        <span onclick="use_ability(1)"><img id="player-view-cat-random-ability"src="{% static "ability/Attacker 509.jpg" %}" alt="" height="150" width="110"></span>  <!-- opponent cat ability image -->

        <p id="player-view-cat-name">Abyssinian Cat</p>  <!-- opponent cat name -->
        <p id="player-view-cat-health">Health: 10</p>  <!-- opponent cat health -->

        <ul id="player-view-basic-moves">
            <li><span onclick="select_move(0)"><img src="{% static "move/Purr.jpg" %}" alt="" height="150" width="110" /></span></li>
            <li><span onclick="select_move(1)"><img src="{% static "move/Guard.jpg" %}" alt="" height="150" width="110" /></span></li>
            <li><span onclick="select_move(2)"><img src="{% static "move/Scratch.jpg" %}" alt="" height="150" width="110" /></span></li>
        </ul>

        <ul id="player-view-chance-card-list">
            <li><span onclick="select_chance_card(0)"><img src="{% static "chance/Can_t_Guard 509.jpg" %}" alt="" height="150" width="110"></span></li>
            <li><span onclick="select_chance_card(1)"><img src="{% static "chance/Double_Purring509.jpg" %}" alt="" height="150" width="110"></span></li>
        </ul>

        <button class="button" id="player-view-ready-button">Ready</button>
    </div>

    <footer>
        <p>Copyright &copy; 2017 Kitty War</p>
    </footer>

    <script src= "{% static 'js/game.js' %}""></script>
</body>
</html>

